@charset "utf-8";
/* CSS Document */

p, h1, h2, h3, h4, h5, h6, a
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;	
	margin-bottom:0 !important;
}




.background_img_1 {
  background: url(../img/headera.jpg);
  height: 1050px;	  
  background-size: cover;
}
.container-fluid
{
	padding-left:0 !important;
	padding-right:0 !important;	
}
.navbar-inverse{
	background-color:rgba(218,148,150,0.5);
	border:none;
	border-radius:0;
}
.nav_header {
	background-color:rgba(218,148,150,0.5);
	height: 80px;
}
.nav_header_menu {
	color: #000;
}
#nav_header_menu > ul > li > a{
	color: #000;
	line-height:80px;
}
#nav_header_menu > ul > li > a > span:hover {
	border-bottom: solid 3px #bf2d38;
}

#search_bar {
	margin-top: 20px;
}
#search_bar_table {
	border: solid 1px #7f7f7f;
}
.search_bar > div > div > label {
	
}
.search_bar_input {
	border: none;
	text-align: center;
}